{
  "plugins": ["react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "no-unused-vars": "error",
    "at-rule-no-unknown": [
      "off",
      {
        "ignoreAtRules": ["extends", "tailwind"]
      }
    ],
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "react-hooks/exhaustive-deps": "error",
    "max-lines": [
      "error",
      {
        "max": 500,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-console": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "globals": {
    "arguments": true,
    "React": true,
    "JSX": true
  },
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  }
}
