<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to hra.com, <%= @user.email %></h1>
    <p>
      You have successfully confirm to hra.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To reset password to the site, just follow this link: 
        <%= link_to @url do %>
          <button class="new-password-button">
            Choose a new password
          </button>
        <% end %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>