#side-bar{
    width: 100%;
    max-width: 229px;
    height: auto;
    color: white;
    font-size: 13px;
    transition: all 0.2s linear;
    span{
        color: white;
    }
    .btn_toggle{
        display: none;
        left: 232px;
        top: 20px;
        position: fixed;
        z-index: 99999;
        background-color: #ffffff;
        border-radius: 45px;

        &.show{
            display: block;

        }
    }
    .icon{
        width: 45px;
        height: 45px;
        margin-right: 12px;
    }
    .task-bar-title{
        color: #ffffff;
        text-align: center;
        margin: 0;
        height: 62px;
        line-height: 62px;
        font-size: 23px;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
    }


}

@media only screen and (max-width: 992px){
    #side-bar {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        transition: all 0.3s linear;
        transform: translateX(-100%);
        &.show{
            transform: translateX(0);
        }
    }
}
