* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}
@import './__variables.scss';
@import './__mixin.scss';

// components
@import './components/AdminLayout.scss';
@import './components//home-layout.scss';
@import './components/HomeHeader.scss';
@import './components/side-bar.scss';
@import './components/table-row-action.scss';
@import './components/ButtonGroup.scss';
@import './components/AuthLayout.scss';

// Pages
@import './pages/login.scss';

button {
  display: inline-block;
  padding: 10px 12px;
  background-color: $bg-primary;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}
